*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* @media all (min-width: 576px) {
    
} */

/* @media all (min-width: 768px) {
    
} */

/* @media all (min-width: 992px) {
    
} */

/* @media  all (min-width: 1200px) {
    
} */

/* @media all (min-width: 1400px) {
    
} */