*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.to-do-container li{
    list-style-type: none;
    cursor: pointer;
}

li{
    margin-left: 1rem;
}

i{
    margin-right: 0.5rem;
    
}

.task-done{
    text-decoration: line-through;
}